.Products {
    display: flex;
    flex-wrap: wrap;
}

.Product {
    border: 1px solid;
    position: relative;
}

.sale {
    color: white;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.bought{
    color: white;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
